In [1]:
import pandas as pd

### 方法一

In [2]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [3]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 方法二

In [4]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

In [5]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [6]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

======================================================================

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import numpy as np
import pandas as pd

country = (['Taiwan', 'China', 'Japan', 'Korea', 'Egypt', 'USA', 'India'])
population = np.random.randint(10,size=7)

list_labels = ['Country', 'Population']
list_cols = [country, population]
zipped = list(zip(list_labels, list_cols))

df = pd.DataFrame(dict(zipped))
print(df)

  Country  Population
0  Taiwan           1
1   China           7
2   Japan           0
3   Korea           7
4   Egypt           0
5     USA           5
6   India           6

In [52]:
df[df['Population']==df['Population'].max()]

  Country  Population
0  Taiwan           9
4   Egypt           9

In [62]:
df['Population'].idxmax()

0

In [61]:
df.loc[df['Population'].idxmax()]

level_0            0
index              0
Country       Taiwan
Population         9
Name: 0, dtype: object

In [66]:
np.random.randint(90, 100, 5)

array([92, 98, 98, 90, 93])